<div class="container">
  <header class="d-flex flex-wrap align-items-end justify-content-center justify-content-md-between py-2 mb-4 rounded-bottom"
          [ngClass]="selectedTheme === 'light' ? 'header-light' : 'header-dark'">
    <div class="col-md-3 mb-2 mb-md-0 d-flex justify-content-center">
        <img class="img-logo" [src]="selectedTheme === 'light' ? './assets/Logo_Square_Light_Mode.png' : './assets/Logo_Square_Dark_Mode.png'" alt="NextVer logo" routerLink="/" width="92" height="92" role="img" aria-label="Bootstrap">
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 header-ul"
        [ngClass]="selectedTheme === 'light' ? 'nav-light' : 'nav-dark'">
        <li>
            <a href="#" class="nav-link px-2 link-secondary" [class.text-decoration-underline]="router.url === '/'"
               routerLink="/">Home</a>
        </li>
        <li><a href="#" class="nav-link px-2">Ranking</a></li>
        <li><a href="#" class="nav-link px-2">Calendar</a></li>
        <li><a href="#" class="nav-link px-2" routerLink="/browser">Browser</a></li>
        <li><a href="#" class="nav-link px-2" routerLink="/management" *ngIf="user?.role === 1">Management</a></li>
        <li><a href="#" class="nav-link px-2">Acount</a></li>
        <li><a href="#" class="nav-link px-2">About</a></li>
    </ul>

    <div class="col-md-3 text-end d-flex">
      <div *ngIf="user === undefined">
        <button type="button" class="btn btn-outline-danger me-2" routerLink="/login">Login</button>
        <button type="button" class="btn btn-danger" routerLink="/register">Register</button>
      </div>
      <div *ngIf="user !== undefined">
        <button type="button" class="btn btn-outline-primary me-2" (click)="logOut()">Sign Out</button>
      </div>
      <div class="dropdown ms-2">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Color Mode
        </a>
        <ul class="dropdown-menu">
          <li (click)="changeTheme('light')">
            <label class="dropdown-item d-flex justify-content-center">
              <input type="radio" name="theme" value="light">
              Light Mode
            </label>
          </li>
          <li class="dropdown-divider"></li>
          <li (click)="changeTheme('dark')">
            <label class="dropdown-item custom-dropdown d-flex justify-content-center">
              <input type="radio" name="theme" value="dark">
              Dark Mode
            </label>
          </li>
          <li class="dropdown-divider"></li>
          <li class="d-flex justify-content-center">
            <p class="m-0">Other Options</p>
          </li>
          <li class="dropdown-divider"></li>
          <li class="px-3">
            <div class="form-check mb-2">
              <input class="form-check-input"
                     type="checkbox"
                     id="animationToggle"
                     [checked]="selectedAnimation"
                     (change)="toggleAnimationCheckbox()" />
              <label class="form-check-label" for="animationToggle">Animation</label>
            </div>
            <div class="form-check mb-2">
              <input class="form-check-input"
                     type="checkbox"
                     id="scrollSnapToggle"
                     [checked]="selectedScrollSnap"
                     (change)="toggleScrollSnapCheckbox()" />
              <label class="form-check-label" for="scrollSnapToggle">Scroll Snap</label>
            </div>
        </ul>
      </div>
    </div>
  </header>
</div>
