.card:hover {
  cursor: pointer;
}

.list-group-item {
  padding: 0px;
  background-color: #00000000;
  transition-duration: 0.2s;
}

.img-thumbnail-custom {
  max-width: 120px; 
  max-height: 180px;
  width: auto;
  height: auto; 
}

.card {
  padding: 0px;
  border-bottom: 0px;
  border-top: 0px;
  border-right: 0px;
  border-left-width: 12px;
  transition-duration: 0.2s;
}

.light-text {
  font-weight: 300;
}

.card-dark {
  border-color: #ff003f;
  background-color: #2e2e2e;
  color: white;
}
.card-light {
  border-color: dodgerblue;
  background-color: white;
  color: black;
}
.card-dark:hover {
  background-color: #444444;
  border-color: #ff8587;
}

.card-light:hover {
  background-color: #dfdfdf;
  border-color: #00BFFF;
}
