<div>
  <section class="exclude-conic-animation">
    <div class="welcome-container">
      <div class="welcome-text">
        Welcome To NextVer
      </div>
      <div class="description">
        Discover the latest in audio, video, HDR, and other technologies for movies, games, and TV series.
      </div>
      <div class="d-flex justify-content-center">
        <a href="#" class="btn btn-primary mr-3">Login</a>
        <a href="#" class="btn btn-secondary">Register</a>
      </div>
      <div class="mt-5">
        <i class="fas fa-film fa-3x mr-3"></i>
        <i class="fas fa-gamepad fa-3x mr-3"></i>
        <i class="fas fa-tv fa-3x"></i>
      </div>
      <div class="mt-3">
        <i class="material-icons md-48 mr-3">headset</i>
        <i class="material-icons md-48 mr-3">videogame_asset</i>
        <i class="material-icons md-48">tv</i>
      </div>
    </div>
  </section>
  <section [ngClass]="(selectedTheme === 'light' ? 'section-light' : 'section-dark') + (selectedAnimation ? ' conic' : '')" id="sec1">
    <h1>Section Two</h1>
    <app-production-search></app-production-search>
  </section>
  <section [ngClass]="(selectedTheme === 'light' ? 'section-light' : 'section-dark') + (selectedAnimation ? ' conic' : '')" id="sec2">
    <h1>Section Three</h1>
  </section>
  <section [ngClass]="(selectedTheme === 'light' ? 'section-light' : 'section-dark') + (selectedAnimation ? ' conic' : '')" id="sec3">
    <h1>Section Four</h1>
  </section>
  <section [ngClass]="(selectedTheme === 'light' ? 'section-light' : 'section-dark') + (selectedAnimation ? ' conic' : '')" id="sec4">
    <h1>Section Five</h1>
  </section>
</div>

<div>to get a really cool snapping effect - with CSS only!</div>

<div>
    <app-production-search></app-production-search>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut nibh ligula. Fusce et metus nec augue pulvinar tempus sed at turpis. Pellentesque sapien metus, consectetur non lorem nec, tempor fringilla dui. Pellentesque pellentesque erat at ante volutpat, et finibus felis convallis. Quisque fermentum ante at ante tincidunt fermentum eget at orci. Curabitur sed enim ut lacus rutrum dapibus. Integer non pretium ante, nec eleifend leo. Mauris fringilla, felis vitae eleifend sodales, odio nunc placerat dolor, vitae volutpat lorem tortor at ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ligula arcu, dictum in bibendum eu, tempus eu mauris.
    </p>
</div>
