section {
  scroll-snap-align: start;
  height: calc(100vh - 108.8px);
  width: 80vw;
  border-radius: 30px;
  scroll-margin-top: 108.8px;
  margin: 0 auto;
}

.section-dark {
  box-shadow: darkred 0px 0px 90px inset;
}

.section-light {
  box-shadow: #bababa 0px 0px 90px inset;
}

.welcome-container {
  height: calc(90vh - 108.8px);
  margin-top: 160px;
  text-align: center;
  background-color: #202020;
}

.transparent-background {
  background-color: transparent !important;
}

.home-container {
  height: calc(90vh - 108.8px);
  text-align: center;
  background-color: #202020;
}

.technology-logo-conatiner {
  height: 120px;
  width: 300px;
  max-width: 300px;
  background-color: #ffffff;
}

.img-technology-logo {
  max-height: 90px;
  max-width: 210px;
}
